<!DOCTYPE html>
<html>
  <head>
    <title>Diduno2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Cette commande est indispensable a transferer les contenu html dans les diff pages--> 
  <%= yield %>
  <!---//////////////////////////////////////////////////////////////////////////////////->
  </body>
</html>
